### Load Packages

In [11]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
%matplotlib inline

### Import Data

In [2]:
df = pd.read_csv('zillow.csv')
df.columns

Index(['Index', ' LivingSpacesqft', ' Beds', ' Baths', ' Zip', ' Year',
       'Year1', ' List Price', 'Currentyear'],
      dtype='object')

In [3]:
df.head()

,Index,LivingSpacesqft,Beds,Baths,Zip,Year,Year1,List Price,Currentyear
0,1,2222,3,3.5,32312,1981,38,250000,2019
1,2,1628,3,2.0,32308,2009,10,185000,2019
2,3,3824,5,4.0,32312,1954,65,399000,2019
3,4,1137,3,2.0,32309,1993,26,150000,2019
4,5,3560,6,4.0,32309,1973,46,315000,2019

In [12]:
df.dtypes

Index                 int64
 LivingSpacesqft      int64
 Beds                 int64
 Baths              float64
 Zip                  int64
 Year                 int64
Year1                 int64
 List Price           int64
Currentyear           int64
dtype: object

In [17]:
df.describe()

,Index,LivingSpacesqft,Beds,Baths,Zip,Year,Year1,List Price,Currentyear
count,20.00000,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000,20.0
mean,10.50000,2645.650000,3.850000,3.17500,32308.900000,1992.650000,26.350000,383440.000000,2019.0
std,5.91608,1111.423614,0.988087,1.18405,3.552612,18.530984,18.530984,205756.671312,0.0
min,1.00000,1128.000000,2.000000,1.00000,32301.000000,1954.000000,3.000000,89000.000000,2019.0
25%,5.75000,1904.750000,3.000000,2.00000,32308.750000,1987.750000,13.000000,233750.000000,2019.0
50%,10.50000,2490.000000,4.000000,3.00000,32309.500000,1995.000000,24.000000,340000.000000,2019.0
75%,15.25000,3577.750000,4.250000,4.00000,32312.000000,2006.000000,31.250000,554675.000000,2019.0
max,20.00000,4892.000000,6.000000,6.00000,32312.000000,2016.000000,65.000000,799900.000000,2019.0

### Data Preparation and Modelling

In [4]:
# pandas drop columns using list of column names
data = df.drop(['Index',' Year','Currentyear'], axis=1)
data.columns

Index([' LivingSpacesqft', ' Beds', ' Baths', ' Zip', 'Year1', ' List Price'], dtype='object')

In [19]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [6]:
X = data.iloc[:,0:5]
y = data.iloc[:,5:6]
print(X.head())
print(y.head())

    LivingSpacesqft   Beds   Baths    Zip  Year1
0              2222      3     3.5  32312     38
1              1628      3     2.0  32308     10
2              3824      5     4.0  32312     65
3              1137      3     2.0  32309     26
4              3560      6     4.0  32309     46
    List Price
0       250000
1       185000
2       399000
3       150000
4       315000

### Train/Test Split

In [7]:
from sklearn.model_selection import train_test_split
# Split the data into training/testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.80, random_state=0)

### Regression

In [8]:
# Create linear regression object
reg = LinearRegression()
# Train the model using the training sets
reg.fit(X,y) 
# Make predictions using the testing set
y_pred = reg.predict(X_test)

In [9]:
reg.score(X, y)

0.7773072073533254

In [10]:
reg.predict([[4010,5,3,32309,17]])

array([[586915.3039242]])

In [20]:
# Find the R^2
print('The R-square is: ', reg.score(X, y))

The R-square is:  0.7773072073533254

In [21]:
Input=[('scale',StandardScaler()),('polynomial', PolynomialFeatures(include_bias=False)),('model',LinearRegression())]

In [22]:
pipe=Pipeline(Input)
pipe

Pipeline(memory=None,
         steps=[('scale',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('polynomial',
                 PolynomialFeatures(degree=2, include_bias=False,
                                    interaction_only=False, order='C')),
                ('model',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [23]:
pipe.fit(X,y)

Pipeline(memory=None,
         steps=[('scale',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('polynomial',
                 PolynomialFeatures(degree=2, include_bias=False,
                                    interaction_only=False, order='C')),
                ('model',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [24]:
pipe.score(X,y)

1.0

### MODEL EVALUATION AND REFINEMENT
import the necessary modules

In [26]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
print("done")

done

In [32]:
pr=PolynomialFeatures(degree=2)
X_train_pr=pr.fit_transform(X_train)
X_test_pr=pr.fit_transform(X_test)

In [31]:
from sklearn.linear_model import Ridge

In [33]:
RigeModel=Ridge(alpha=0.1)
RigeModel.fit(X_train_pr, y_train)
yhat = RigeModel.predict(X_test_pr)

C:\Users\Amy\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:187: LinAlgWarning: Ill-conditioned matrix (rcond=1.71469e-17): result may not be accurate.
  overwrite_a=False)

In [34]:
print('predicted:', yhat[0:4])
print('test set :', y_test[0:4].values)

predicted: [[259268.2240253 ]
 [144263.78734519]
 [537530.36728804]
 [241803.39681808]]
test set : [[289000]
 [185000]
 [549900]
 [613000]]

In [35]:
RigeModel.score(X_train_pr, y_train)

1.0

In [ ]:
poly = LinearRegression()
poly.fit(X_train_pr, y_train)

In [37]:
poly.score(X_train_pr, y_train)

1.0

In [38]:
poly.score(X_test_pr, y_test)

0.14751300077423968

In [ ]:
width = 12
height = 10
plt.figure(figsize=(width, height))

plt.plot(alpha,Rsqu_test, label='validation data  ')
plt.plot(alpha,Rsqu_train, 'r', label='training Data ')
plt.xlabel('alpha')
plt.ylabel('R^2')
plt.legend()